@import "common_blocks";

#block-locale-language ul li {
  float: right;
}

#block-menu-menu-social-media .menu li a {
  text-align: right;
}

.block .more-link {
  position: absolute;
  left: 15px;
  top: 10px;
}