@import "base";

#block-locale-language { /* Language switcher block */
  height:35px;
  line-height:35px;
  font-size: 10px;
  background-color:transparent;
  margin-bottom:0;
  ul {
    @include list-reset;
    li {
      float:left;
      a {
        color: #8BA6B5;
        padding-right: 4px;
        text-decoration: none;
        &.active {
          color: #FFFFFF;
        }
        &:hover {
          color: #FFFFFF;
        }
      }    
    }
  }
}

#block-search-form { /* Language switcher block */
  height:35px;
  line-height:35px;
  font-size: 10px;
  background-color:transparent;
  margin-bottom:0;
  background-color: #ebebeb;
   
  .container-inline {
    padding:0;
  }
  .form-item {
    background-color: #EBEBEB;
    float: right;
    margin: 0;
    padding: 0 1px 0 0;
  }
  .edit-actions {
    margin:0;
    float:left;
  }
  .form-text {
    border:none;
    background-color: #ebebeb;
    float: right;
    margin: 0;
    padding: 0 1px 0 0;
    background-color: #EBEBEB;
    border: medium none;
    color: #0077D4;
    float: left;
    height: 30px;
    margin: 0;
    padding: 2px;
    width: 80px;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
  }  
  .form-submit {
    background-color: #EBEBEB;
    color: #0077D4;
    border: medium none;
    float: left;
    font-weight: bold;
    height: 35px;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 0 0 0 2px;
    width: 70px;
  } 
}

#block-menu-menu-user-menu-login {
  height:35px;
  line-height:35px;
  font-size: 10px;
  background-color:transparent;
  z-index: 200;  
  
  a {
    color: white;
    font-size:10px;
    display:block;
    float:left;
  }



  
  ul {
    margin:0;
    padding:0;
    li {
      float:left;
      height:25px;
      text-align: center;          
      display:block;
      padding:5px 0;
      width: 89px;
      margin-right:2px;
      &.last {
        margin-right:5px;        
      }
      a {
        height:25px;
        line-height:25px;
        text-align: center;          
        display:block;
        width:100%;
        &#menu_login_staff {
          background-color:#8a77a5;
        }
        &#menu_login_member_states {
          background-color:#E67108;
        }
        &#menu_login_unesco {
          background-color:$unesco-color;
        }

      }
    }
  }  
}

#block-menu-menu-social-media {
  padding: 0;
  position: absolute;
  right: -54px;
  top: 40px;
  width: 43px;
  
  .block-wrapper {
    border:none;
    background-color:transparent;
  }
  
  .last.expanded.nolink {
    cursor: pointer;
  }
  
  .block-title {
    display:none;
  } 
  
  .menu {
    border:1px solid #d6d6d6;
    padding: 0;
    background:none;
    float:left;
    .menu {
      border:none;
      li.first a {
        border-bottom:1px solid #d6d6d6;        
        a {
        }
      }
      
    }
    li {
      display:block;
      width:44px;
      height:44px;
      margin: 0;
      padding: 0;
      border-bottom:1px solid #d6d6d6;        
      &.last {
        border-bottom:none;        
      }
      &.expanded.nolink {
        background: none repeat scroll 0 0 #D1D1D0;
        font:{
          weight: bold;
          size: 18px;
        }
        color: #004d79;
        text-align: center;
        height:24px;
        span {
          display: block;
          height: 24px;
        }
      }
      &.first a {
        @include border-top-left-radius(5px);
      }
      &.last a {
        @include border-bottom-left-radius(5px);
      }
      
      a {
        display:block;
        width:44px;
        height:44px;
        @include hide-text();

      }
      
      .menu {
        display:none;
      }
    }
  }
}

#footer #block-menu-menu-footer-info {
  .block-title {
    font: normal small-caps normal 24px $times;
  }
  .block-wrapper {
    text-align: center;
  }
  ul {
    margin: 0 auto;
       padding: 0;
       width: 280px;
    display:block;   
    li {
      float: left;
      padding:0 10px;
      border-right: 1px solid #FFF;
      &.last {
        border-right:none;
      }
      a {
        display: block;
      }
    }
  } 
}

.om-maximenu .om-maximenu-open {
  display:none;
}